<section
  class="landing-setion bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="flex flex-grow flex-col justify-end pb-20">
      <div class="flex mx-auto gap-x-8">
        <a
          class="border-[3px] border-gray-600 bg-gray-600 text-white text-sm rounded font-medium px-12 py-2 inline-block hover:bg-gray-500 hover:text-white hover:border-gray-500"
          href="#">Explorar inventario</a
        >
        <a
          class="border-[3px] border-white bg-white text-sm rounded font-medium px-12 py-2 hover:bg-gray-800 hover:text-white hover:border-gray-800 inline-flex justify-center items-center text-black"
          href="#">Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="model-y.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
